## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,39.31,60,0,17.27,clear sky
1,1,Longyearbyen,SJ,78.2186,15.6401,44.44,70,75,12.66,broken clouds
2,2,Puerto Carreno,CO,6.1890,-67.4859,78.19,85,82,6.69,broken clouds
3,3,Yellowknife,CA,62.4560,-114.3525,82.29,50,20,10.36,few clouds
4,4,East London,ZA,-33.0153,27.9116,66.04,30,93,6.55,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Puerto Carreno,CO,6.1890,-67.4859,78.19,85,82,6.69,broken clouds
3,3,Yellowknife,CA,62.4560,-114.3525,82.29,50,20,10.36,few clouds
10,10,Rikitea,PF,-23.1203,-134.9692,70.61,71,4,10.00,clear sky
11,11,Kieta,PG,-6.2167,155.6333,81.54,78,30,6.29,scattered clouds
15,15,Simbahan,PH,6.3032,120.5836,83.39,76,43,9.48,scattered clouds
18,18,Vaini,TO,-21.2000,-175.2000,75.36,78,75,19.57,broken clouds
24,24,Hamilton,US,39.1834,-84.5333,76.71,70,90,1.99,overcast clouds
32,32,Hilo,US,19.7297,-155.0900,81.81,73,75,6.91,light rain
33,33,Antioch,TR,36.2066,36.1572,82.22,62,1,5.21,clear sky
34,34,Gat,IL,31.6100,34.7642,82.40,51,0,2.39,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                339
City                   339
Country                338
Lat                    339
Lng                    339
Max Temp               339
Humidity               339
Cloudiness             339
Wind Speed             339
Current Description    339
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Puerto Carreno,CO,6.1890,-67.4859,78.19,85,82,6.69,broken clouds
3,3,Yellowknife,CA,62.4560,-114.3525,82.29,50,20,10.36,few clouds
10,10,Rikitea,PF,-23.1203,-134.9692,70.61,71,4,10.00,clear sky
11,11,Kieta,PG,-6.2167,155.6333,81.54,78,30,6.29,scattered clouds
15,15,Simbahan,PH,6.3032,120.5836,83.39,76,43,9.48,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
675,675,North Bend,US,43.4065,-124.2243,79.25,86,90,14.97,overcast clouds
676,676,Kampot,KH,10.6167,104.1833,82.45,85,100,8.90,overcast clouds
677,677,Vila Do Maio,CV,15.1333,-23.2167,79.59,84,95,12.75,overcast clouds
678,678,Tahara,JP,34.6667,137.2667,82.24,84,100,6.73,light rain
680,680,San Julian,MX,21.0167,-102.1667,81.19,61,81,0.04,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Carreno,CO,78.19,broken clouds,6.1890,-67.4859,
3,Yellowknife,CA,82.29,few clouds,62.4560,-114.3525,
10,Rikitea,PF,70.61,clear sky,-23.1203,-134.9692,
11,Kieta,PG,81.54,scattered clouds,-6.2167,155.6333,
15,Simbahan,PH,83.39,scattered clouds,6.3032,120.5836,
18,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
24,Hamilton,US,76.71,overcast clouds,39.1834,-84.5333,
32,Hilo,US,81.81,light rain,19.7297,-155.0900,
33,Antioch,TR,82.22,clear sky,36.2066,36.1572,
34,Gat,IL,82.40,clear sky,31.6100,34.7642,

In [8]:
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Carreno,CO,78.19,broken clouds,6.1890,-67.4859,Casa Hotel Victoria
3,Yellowknife,CA,82.29,few clouds,62.4560,-114.3525,The Explorer Hotel
10,Rikitea,PF,70.61,clear sky,-23.1203,-134.9692,People ThankYou
11,Kieta,PG,81.54,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat
18,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
24,Hamilton,US,76.71,overcast clouds,39.1834,-84.5333,Six Acres Bed & Breakfast
32,Hilo,US,81.81,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
33,Antioch,TR,82.22,clear sky,36.2066,36.1572,The Liwan Hotel
34,Gat,IL,82.40,clear sky,31.6100,34.7642,OlusHome
35,Sabha,LY,88.52,clear sky,27.0377,14.4283,Foundation Taaj Asala for Historical Research ...

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))